/* ---------- GLOBAL ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Sans", sans-serif;
  scroll-behavior: smooth;
}

/* ---------- HEADER / NAV ---------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  background-color: rgba(80, 142, 171, 0.8);;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  font-family: "Patrick Hand", cursive;
  font-size: 26px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FFFCF5;
  font-weight: 600;
}

/* LIght/Dark Toggle */
.theme-toggle {
  position: relative;
  width: 59px;
  height: 29px;
  margin-top: 3px;
}

.theme-toggle input {
  display: none;
}

.toggle-slider {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  cursor: pointer;
}

.toggle-slider::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 3px;
  left: 3px;
  background:#1E1E1E;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.theme-toggle input:checked + .toggle-slider::before {
  transform: translateX(30px);
}

.theme-toggle .toggle-icon {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  pointer-events: none;
}

.theme-toggle svg {
  width: 18px;
  height: 18px;
}

.theme-toggle .sun {
  left: 5.2px;
  top: 16.5px;
  color: #dcdcdc;
}

.theme-toggle .moon {
  right: 5px;
  top: 16.5px;
  color: #FFFCF5;
}

/* Nav Tabs */
nav a {
  font-size: 19px;
  color: #FFFCF5;
  text-decoration: none;
  font-weight: bold;
  margin: 0 20px;
  position: relative;
}

nav a.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 4px;
  background-color: #1E1E1E;
  border-radius: 10px;
}

nav a:hover {
    color: #3b3b3b;
}

/* ---------- SECTIONS ---------- */
section {
  min-height: 100vh;
  display: flex;
  padding-top: 50px;
  scroll-margin-top: 70px;
}

section:nth-child(even) {
  background-color: #1E1E1E;
}

section:nth-child(odd) {
  background-color: #272727;
}

.section-title {
  position: relative;
  display: inline-block; /* so width = text width */
  padding-bottom: 5px;
  color: #FFFCF5;
  font-size: 34px;
  margin-bottom: 40px;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 80%;
  height: 4px;
  background-color: #62A9CC;
  border-radius: 999px;
}

/* ---------- HOME ---------- */
#home-section {
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0.5px 0px 18px rgba(98, 169, 204, 0.3);
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.profile-img:hover img {
  transform: scale(1.1);
}

.home-text h2 {
  font-size: 55px;
  color: #FFFCF5;
}

.highlight {
  color: #64AACC;
}

.home-text p {
  font-size: 25px;
  color: #FFFCF5;
}

.home-text {
  text-align: center;
}

/* ---------- ABOUT ---------- */
#about-section {
  flex-direction: column;
  align-items: center;
}

#about-section p {
  max-width: 800px;
  background-color: rgba(98, 169, 204, 0.3);
  padding: 50px;
  border-radius: 30px;
  color: #FFFCF5;
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
}

/* ---------- PROJECTS ---------- */
#projects-section {
  flex-direction: column;
  align-items: center;
}

/* Grid layout */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 40px;
}

/* Project card */
.project-card {
  background-color: #272727;
  border: 1px solid #62A9CC;
  border-radius: 22px;
  padding: 28px;
  min-height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.project-card:hover {
  transform: scale(1.03); /* Grow the box slightly on hover */
  box-shadow: 0.5px 1px 20px rgba(98, 169, 204, 0.3);
}

/* Project title */
.project-card h4 {
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 45px;
  color: #62A9CC;
  font-weight: 900;
}

/* Project description */
.project-card p {
  font-size: 17px;
  color: #FFFCF5;
}

.tech-line {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.github-btn {
  /*margin-top: auto;  keeps button at bottom */
  padding: 8px 20px;
  border-radius: 12px;
  border: none;
  background-color: #62A9CC;
  cursor: pointer;
  text-decoration: none;
  color: #1E1E1E;
  font-size: 17px;
  font-weight: bold;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.github-btn:hover {
  background-color: #FFFCF5;
  border: solid 0.7px;
  border-color: #62A9CC;
}

/* ---------- SKILLS ---------- */
#skills-section {
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}

.skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 70px;
}

.skills-icons i {
  font-size: 70px;
  color: #62A9CC;
  transition: transform 0.3s ease, color 0.3s ease;
}

.skills-icons i:hover {
  transform: scale(1.16);
}

/* ---------- CONTACT ---------- */
#contact-section {
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}

.wrapper .button {
  display: inline-block;
  height: 75px;
  width: 75px;
  text-decoration: none;
  margin: 55px 35px;
  overflow: hidden;
  background: #62A9CC;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0.5px 1px 20px rgba(98, 169, 204, 0.3);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 230px;
  background: #FFFCF5;
}

.wrapper .button .icon {
  display: inline-block;
  height: 75px;
  width: 75px;
  color: #1E1E1E;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 90px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #2f9d8e;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #0077b5;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}

.wrapper .button .icon i {
  font-size: 38px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #FFFCF5;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #2f9d8e;
}
.wrapper .button:nth-child(2) span {
  color: #0077b5;
}
.wrapper .button:nth-child(3) span {
  color: #E1306C;
}
.wrapper .button:nth-child(4) span {
  color: #333;
}

/* ---------- FOOTER ---------- */
footer {
  background-color: #508EAB;
  color: #FFFCF5;
  text-align: center;
  padding: 13px;
  font-size: 14px;
}